<?xml version="1.0"?>
<config>
    <modules>
        <Itserv_Scraper>
            <version>1.0</version>
        </Itserv_Scraper>
    </modules>
    <global>
        <models>
            <itserv_scraper>
                <class>Itserv_Scraper_Model</class>
            </itserv_scraper>
            <catalog>
                <rewrite>
                    <product_api>Itserv_Scraper_Model_Catalog_Product_Api</product_api>
                </rewrite>
            </catalog>
        </models>
    </global>
</config>
